Makefile
README
blib/
inc/
test.pl
private-*
/Data-XLSX-Parser-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
.DS_Store
local/
cpanfile.snapshot
/t/runSingleTest.cmd
/t/runAllTests.cmd
/xt/runSingleTest.cmd
/xt/runAllTests.cmd
